<div class="absolute lg:relative min-w-full m-0">
    <h1 class="font-black  text-3xl sm:text-4xl text-pink-500 text-center mt-2 sm:mt-0 mb-4 ">Listado de ventas</h1>
    <div class="flex flex-col-reverse sm:flex-row justify-between ">
        <div class="relative my-auto p-2 w-full sm:w-2/6 xl:w-2/6 shadow  focus:outline-none focus:ring focus:border-blue-300  bg-white rounded-md md:rounded-lg">
            <input
                type="text"
                class="w-10/12 xl:w-11/12 p-2 focus:outline-none placeholder-gray-500"
                placeholder="Consulta el historial de ventas"
                [value]=filtrando()
                #inputBusqueda
                (keyup)="busqueda(inputBusqueda.value)"
            />
            <div class="absolute mr-2 -inset-y-1 flex right-0 opacity-40">
                <img 
                    [src]=" filtrando() ? 'img/close_light.svg' : 'img/search_dark.svg' "
                    width="30"
                    height="30"
                    class="cursor-pointer"
                    (click)="manejarFiltro()"
                />
            </div>
        </div>
        <div class="flex gap-2">
            @if(fechaDesde() && fechaHasta()) {
                @if (fechaDesde() > fechaHasta()) {
                    <div class="grid grid-rows-2">
                        <p class=" my-auto block font-bold row-start-2 bg-pink-500 text-white rounded-md p-1">PERÍODO INVÁLIDO</p>
                    </div>
                }
            }
            <div>
                <label htmlFor="fechaDesde" class= "text-gray-500 font-bold">Fecha desde</label>
                <input
                    type="date"
                    autoComplete="off"
                    class=" block  p-2 appearance-none rounded-md bg-gray-50 shadow   focus:outline-none  focus:ring-1 focus:ring-blue-300"
                    id="fechaDesde"
                    name="fechaDesde"
                    [value]="fechaDesde()"
                    #inputFechaDesde
                    (change)="this.fechaDesde.set(inputFechaDesde.value)"
                />
            </div>
            <div>
                <label htmlFor="fechaHasta" class="font-bold text-gray-500">Fecha hasta</label>
                <input
                    type="date"
                    autoComplete="off"
                    class=" block  p-2 appearance-none rounded-md bg-gray-50 shadow   focus:outline-none  focus:ring-1 focus:ring-blue-300"
                    id="fechaHasta"
                    name="fechaHasta"
                    [value]="fechaHasta()"
                    #inputFechaHasta
                    (change)="this.fechaHasta.set(inputFechaHasta.value)"
                />
            </div>
            @if (fechaDesde() || fechaHasta()) {
                <div class="grid grid-rows-2">
                    <button
                        class=" block font-bold row-start-2 bg-pink-500 text-white rounded-md p-1"
                        (click)="vaciarFecha()"
                    >
                        Limpiar
                    </button>
                </div>
            }
        </div>
    </div>
</div>



<table class="relative top-44 sm:top-44 lg:top-0 w-full mt-5 table-fixed shadow rounded-lg  bg-white">
    <thead class="bg-pink-500 text-white">
        <tr class="hover:cursor-pointer select-none">
            <th class="p-2 rounded-tl-lg break-words">CODIGO</th>
            <th class="break-words">NOMBRE</th>
            <th class="break-words">MARCA</th>
            <th class="break-words">MODELO</th>
            <th class="break-words">COD BARRAS</th>
            <th class="break-words">VENTA</th>
            <th class="break-words">COTIZACIÓN USD</th>
            <th class="break-words">PRECIO EN USD</th>
            <th class="break-words">PRECIO TARJETA</th>
            <th class="break-words">CANTIDAD</th>
            <th class="rounded-tr-lg w-32">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @if (filter()) {
            @for (filtrada of filtradas(); track filtrada._id) {
                <venta class="contents" [venta]="filtrada"></venta>
            } 
        } @else {
            @for (venta of ventas(); track venta._id) {
                <!--la class contents hace que angular no añada al DOM el "div" <venta></venta> entonces del tbody va directo al tr-->
                <venta class="contents" [venta]="venta"></venta>
            }
        }
    </tbody>

</table>

@if(filter() && !filtradas().length) {
    <div class="mx-auto mt-10 w-1/4">
        <img
            class="max-w-sm"
            src="img/lupanoencontrado.png"
            alt="NoEncontrada"
            width="400"
            height="400"
            priority
        />
        <p class=" text-center text-2xl">
            No hay resultados
        </p>
    </div>
}