<tr class="  hover:bg-gray-50 hover:cursor-pointer active:bg-gray-100 align-middle">
    <td class="p-3  text-center font-semibold break-words" >{{producto().codigo}}</td>
    <td class=" text-center">
         @if (producto().imagen) {
            <img
                [src]="urlImagen"
                width="100"
                height="100"
                alt="img"
                style="object-fit: contain; width: auto; height: auto"
                (click)="imagenModal.set(urlImagen)"
            />
        } 
    
    </td>
    <td class=" p-3 text-center break-words">{{producto().nombre}}</td>
    <td class="p-3  text-center break-words">{{producto().marca || '-'}}</td>
    <td class="p-3  text-center break-words">{{producto().modelo || '-'}}</td>
    <td class="text-center uppercase break-words">
        @if (!producto().disponibles) {
            <span class="bg-red-600 font-black text-white p-1 rounded-sm">Sin stock</span>
        } @else if (!producto().faltante && (colorFaltante() === null || colorFaltante() === false)) {
            {{ producto().disponibles }}
        } @else {
            <span class="text-red-600 font-bold">{{producto().disponibles }}</span>
        }
    </td>
    <td class="p-3 text-center break-words">
        @if (todasGarantias().length) {
             @for (garantia of todasGarantias(); track garantia.proveedor) {
            <div>
                <p class="font-medium">{{ garantia.garantia }}</p>
                <p class="mb-1">({{ garantia.proveedor | uppercase}})</p>
            </div>
            }
        } @else {
            -
        }
    </td>
    <td class="p-2  text-center text-lg hover:cursor-pointer break-words">
        <div class="flex flex-col">
            <p 
                class="mb-4 pb-2 pt-2 px-2 hover:rounded-md hover:cursor-pointer hover:bg-gray-200  text-3xl font-black " 
                (click)="copiar('tarjeta')"
            >
                {{producto().precio_venta_tarjeta | formatImport}}
            </p>
            <p 
                class="pb-2 pt-2 hover:rounded-md hover:cursor-pointer hover:bg-gray-200  text-2xl font-medium" 
                (click)="copiar('efectivo')"
            >
                {{producto().precio_venta_efectivo | formatImport}}
            </p>
            <p 
                class="mt-4 pb-2 pt-2 hover:rounded-md hover:cursor-pointer hover:bg-gray-200  text-xl" 
                (click)="copiar('conocidos')"
            >
                {{producto().precio_venta_conocidos | formatImport}}
            </p>
        </div>
    </td>
    <td class="p-2  text-center  text-lg hover:cursor-pointer break-words ">
        <div class="flex flex-col">
            <p 
                class="mb-4 pb-2 pt-2 px-2 hover:rounded-md hover:cursor-pointer hover:bg-gray-200  text-xl font-normal " 
                (click)="copiar('ahoraDoce')"
            >
                Un pago
                <span class="block font-black text-3xl">{{producto().precio_venta_ahoraDoce | formatImport}}</span>
            </p>
            <p 
                class="pb-2 pt-2 hover:rounded-md hover:cursor-pointer hover:bg-gray-200  text-xl font-normal " 
                (click)="copiar('ahoraDoce')"
            >
                12 cuotas de:
                <span class="block font-black text-2xl">{{producto().precio_venta_cuotas | formatImport}}</span>
            </p>

        </div>
    </td>

    <td class="p-3 mt-2 h-full break-words">
        <button
            type="button"
            class="block bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 mb-2 w-full cursor-pointer text-black p-2 uppercase font-bold text-xs  rounded-md"
            (click)="venderElProducto()"
        >Vender</button>
        <a
            [routerLink]="'/producto/' + producto()._id"
            type="button"
            class="bg-blue-600 hover:bg-blue-900 mb-2 w-full cursor-pointer text-white text-center p-2 uppercase font-bold text-xs block  rounded-md"
        >
            Detalles
        </a>
        <a
            [routerLink]="'/producto/editar/' + producto()._id"
            type="button"
            class="bg-green-600 hover:bg-green-900 mb-2 w-full cursor-pointer text-white text-center p-2 uppercase font-bold text-xs block rounded-md"
        >
            Editar
        </a>
        <button
            type="button"
            class="bg-red-600 hover:bg-red-900  w-full cursor-pointer text-white p-2 uppercase font-bold text-xs block rounded-md"
            (click)="cambiarFaltante()"
        >{{!colorFaltante() || !producto().faltante ? "Agregar faltante" : "Quitar faltante"}}</button>

    </td>
</tr>
@if (imagenModal()) {
    <div
        class="fixed inset-0 backdrop-blur-sm flex items-center justify-center z-50"
        (click)="imagenModal.set(null)"
    >
        <img
            [src]="imagenModal()"
            alt="Imagen ampliada"
            class="max-w-full max-h-full rounded-2xl shadow-lg"
            (click)="$event.stopPropagation()"
        />
    </div>
}

<!-- 
    backdrop-blur-sm: aplica un desenfoque suave al fondo detrás del modal
    fixed inset-0: el fixed hace que quede fijo en la pantalla, y inset-0 lo estira para que ocupe toda la pantalla
    z-50: hace que se superponga a todo
    click en el div: cierra el modal
    click.stopPropagation() en la imagen: evita que se cierre si tocás la imagen
 -->