<tr class=" hover:bg-gray-50 active:bg-gray-100 align-middle"> <!--con align-middle se alinea verticalmente-->
    <td class="p-1  text-center break-words ">{{proveedor().nombre || '-'}}</td>
    <td class="p-1  text-center break-words ">{{proveedor().empresa || '-'}}</td>
    <td class="p-1  text-center break-words ">{{proveedor().telPersonal || '-'}}</td>
    <td class="p-1  text-center break-words ">{{proveedor().telEmpresa || '-'}}</td>
    <td class="p-1  text-center break-words ">{{proveedor().email || '-'}}</td>
    <td class="p-1 w-40 ">
        <div class="flex items-center justify-center gap-3 ">
            <div 
                [ngClass]="{'hidden': crearNuevo()}"
                class = "hover:bg-gray-200 p-1 pb-0 items-center rounded-md hover:cursor-pointer"
            >
                <img
                    src="img/editar_dark.svg"
                    alt="Editar"
                    width="30"
                    height="30"
                    priority
                    (click)="editarProveedor()"
                />
            </div>
            <div class="hover:bg-gray-200  p-1 pb-0 items-center rounded-md hover:cursor-pointer">
                <img
                    src="img/delete_dark.svg"
                    alt="Eliminar"
                    width="30"
                    height="30"
                    priority
                    (click)="eliminarProveedor()"
                />
            </div>
        </div>

    </td>
</tr>