<div class="absolute lg:relative min-w-full m-0">
    <h1 class="font-black  text-3xl sm:text-4xl text-red-500 text-center mt-2 sm:mt-0 mb-4 ">Listado de faltantes</h1>
    <div class="flex flex-col-reverse sm:flex-row justify-between ">
        <div class="relative my-auto p-2 w-full sm:w-2/6 xl:w-2/6 shadow  focus:outline-none focus:ring focus:border-blue-300  bg-white rounded-md md:rounded-lg">
            <input
                type="text"
                class="w-10/12 xl:w-11/12 p-2 focus:outline-none placeholder-gray-500 uppercase"
                placeholder="Buscar algún faltante"
                [value]=filtrando()
                #inputBusqueda
                (keyup)="busqueda(inputBusqueda.value)"
            />
            <div class="absolute mr-2 -inset-y-1 flex right-0 opacity-40">
                <img 
                    [src]=" filtrando() ? 'img/close_light.svg' : 'img/search_dark.svg' "
                    width="30"
                    height="30"
                    class="cursor-pointer"
                    (click)="manejarFiltro()"
                />
            </div>
        </div>
    </div>
</div>


<table class="relative top-44 sm:top-44 lg:top-0 w-full mt-5 table-fixed shadow rounded-lg  bg-white">
    <thead class="bg-red-600 text-white">
        <tr class="hover:cursor-pointer select-none">
            <th class="p-2 rounded-tl-lg break-words" (click)="ordenarPor('codigo')">CODIGO</th>
            <th class="break-words" (click)="ordenarPor('nombre')">NOMBRE</th>
            <th class="break-words" (click)="ordenarPor('marca')">MARCA</th>
            <th class="break-words" (click)="ordenarPor('modelo')">MODELO</th>
            <th class="break-words" (click)="ordenarPor('rubro')">RUBRO</th>
            <th class="break-words">PROVEEDOR</th>
            <th class="break-words" (click)="ordenarPor('disponibles')">DISPONIBLES</th>
            <th class="rounded-tr-lg w-32">ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        @for (filtrado of filtrados(); track filtrado._id) {
            <faltante class="contents" 
                [faltante]="filtrado"
                [proveedores]="proveedores()"
            >
            </faltante>
        } 
        @if(!this.filtrados()) {
            @for (faltante of faltantes(); track faltante._id) {
                <!--la class contents hace que angular no añada al DOM el "div" <faltante></faltante> entonces del tbody va directo al tr-->
                <faltante 
                    class="contents" 
                    [faltante]="faltante"
                    [proveedores]="proveedores()"
                >
                </faltante>
            }
        }
    </tbody>

</table>

@if(filtrando() && !filtrados().length) {
    <div class="mx-auto mt-10 w-1/4">
        <img
            class="max-w-sm"
            src="img/lupanoencontrado.png"
            alt="NoEncontrada"
            width="400"
            height="400"
            priority
        />
        <p class=" text-center text-2xl">
            No hay resultados
        </p>
    </div>
}