/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
.mat-mdc-tooltip {
    background-color: black !important;
    color: white !important;
    border-radius: .5rem;
}